*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
    
}

.logo{
    background-size: cover;
    background-image: url('amazan.jpeg');
    height: 50px;
    width:100px;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.ADD-FIRST{
    color: #cccccc;
    font-size:12px ;
    margin-left: 15px;

}
.add-second{
    color:#ffffff;
    font-size:14px;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    width:620px;
    height:40px;
    border-radius:2px;
    justify-content:space-evenly ;
}
.nav-search:hover{
    border:2px solid #ffa500;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;

}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rm;
    background-color: hwb(60 0% 0%);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}
span{
    font-size: 0.7rem;
}
.navsecond{
    font-size: 0.85rem;
    font-weight: 700;
}
.cart{
    width:28px;
    height: 18px;
    color:#ffffff;
    display:flex;
}
.panel{
    height: 40px;
    background-color:#0c1a28;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    
}
.panel-options p{
    display:inline;
    justify-content: space-between;
    font-size: 14px;
    margin-left:15px ;
    
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
    
}
.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
}
.hero{
    height: 600px;
    background-size: cover;
    background-image: url("box-1.jpg");
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-mess{
    background-color: #f3f3f3;
    color:#0f1111;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85rem;
    margin-bottom:25px;
}
.hero-mess a{
    color:#007185;
}
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#8caca5;
}
.box{
    height: 400px;
    border: 2px solid black;
    width:23%;
    background-color:#e2e7e6;
    padding: 20px 0px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;

}
.image{
    background-size: cover;

    height: 350px;

}
.content{
    margin-left: 10px;
    margin-right: 10px;
}
.content p{
    color:#007185;
}
.footer{
    margin-top:50px;
}
.footpanel-1{
    background-color: #0c1a28;
    color: white;
    display: flex;
    text-align: center;
    height: 50px;
    justify-content: center;
    font-size: 0.85rem;
}
.footpanel-2{
    background-color: #04192f;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.85rem;
    margin-top:20px;

}
.footpanel-3{
    background-color: #0c1a28;
    color: white;
    border-top: 0.5px solid white;
    height: 50px;
    display: flex;
    justify-content: center;
}
.logo{
    background-size: cover;
    background-image: url('amazan.jpeg');
    height: 50px;
    width:100px;
}
.footpanel-4{
    background-color: #0c1a28;
    color:white;
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
}

